<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Diamond Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Diamond Price</h1>

     <!-- Form to enter new data for predictions  -->
      <form action="{{ url_for('predict')}}"method="POST">
      <input type="text" name="Carat" placeholder="Carat" required="required"  value="0.23"/><br>
    	<input type="text" name="Cut" placeholder="Cut" required="required" value="2"/><br>
        <input type="text" name="Color" placeholder="Color" required="required" value="3" /><br>
        <input type="text" name="Clarity" placeholder="Clarity" required="required" value="8" /><br>
        <input type="text" name="Depth" placeholder="Depth" required="required" value="61.5"/><br>
        <input type="text" name="Table" placeholder="Table" required="required" value="55.0"/><br>
        <input type="text" name="Volume" placeholder="Volume" required="required" value="38.2" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>


 </div>
 {{pred}}

</body>
</html>